

  <div class="w-screen h-screen font-mono text-2xl bg-black text-white p-8 text-center border-opacity-50 backdrop-blur-sm">
    <div class="border border-cyan-400 justify-center inline-block rounded hover:shadow-[0_0_100px_#5C6BC0,inset_0_0_5px_#5C6BC0,0_0_50px_#26C6DA,0_0_250px_#26C6DA,0_0_200px_#26C6DA] delay-100 duration-1000">
      <h2 class="">Register</h2>
    <hr>
    <br>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div>
      <label>Name:</label>
      <br>
      <input class="text-black" type="text" formControlName="name" required />
    </div>
    <div>
      <label>Email:</label>
      <br>
      <input class="text-black" type="email" formControlName="email" required />
    </div>
    <div>
      <label>Password:</label>
      <br>
      <input class="text-black" type="password" formControlName="password" required />
    </div>
    <br>
    <button class="border border-white" type="submit" [disabled]="registerForm.invalid">Register</button>
    <br>
    <br>
    <hr>
    <div class="register">
      <p class="text-sm">You have account 😯? <a href="/login">Then Login</a></p>
  </div>

  </form>
  </div>
  </div>

