<body class="font-mono  h-screen bg-black mx-100px text-white">
 
  <div >
    <div class="">
      <div class="absolute inset-0 flex items-center justify-center ">
      <div>
        <h1 class="text-4xl font-bold mb-4">Welcome. <br> to Le<span class="bg-gradient-to-r from-cyan-300 to-indigo-600 inline-block text-transparent bg-clip-text hover:text-8xl delay-200 duration-300" routerLink="/login">gacy</span>Locker</h1>
      <p class="text-lg">A Place where your Legacy is Stored.</p>
      <p>in just 3 steps.. hehe <span class="text-2xl"></span></p>
      <p class="text-sm">first click on <span class="bg-gradient-to-r from-cyan-300 to-indigo-600 inline-block text-transparent bg-clip-text">gacy</span>*</p>
      
      <p><span class="text-2xl">😉-></span><span class="text-4xl">😁-></span><span class="text-6xl">😆-></span><span class="text-8xl">😂-></span><span class="text-9xl">🤣</span></p>
      </div>
      </div>
    </div>
    </div>
  </body>