<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Legacy Locker</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/register" *ngIf="!isLoggedIn()">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" *ngIf="!isLoggedIn()">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard" *ngIf="isLoggedIn()">Dashboard</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-danger" (click)="logout()" *ngIf="isLoggedIn()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet> -->

<body>
  


<nav class="navbar">
  <div class="container">
      <a class="navbar-brand" href="/">Legacy Locker</a>
      <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" routerLink="/register" *ngIf="!isLoggedIn()">Register</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/login" *ngIf="!isLoggedIn()">Login</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/dashboard" *ngIf="isLoggedIn()">Dashboard</a>
          </li>
          <li class="nav-item">
              <button class="btn btn-danger" (click)="logout()" *ngIf="isLoggedIn()">Logout</button>
          </li>
      </ul>
  </div>
</nav>
<router-outlet></router-outlet>

</body>
