/* styles.css */

/* Basic styles for the navigation bar */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #343a40;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-brand {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;
}

.navbar-brand:hover {
    color: #f39c12; /* Change to any color you prefer */
}

.navbar-brand::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #f39c12; /* Change to any color you prefer */
    transition: width 0.3s ease;
}

.navbar-brand:hover::after {
    width: 100%;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #f39c12; /* Change to any color you prefer */
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.btn-danger:hover {
    background-color: #c82333;
}
