<!-- <p>login works!</p>
<div class="container">
    <h2>Login</h2>
    <form (submit)="login()">
      <input type="email" class="form-control" placeholder="Email" [(ngModel)]="credentials.email" name="email" required>
      <input type="password" class="form-control" placeholder="Password" [(ngModel)]="credentials.password" name="password" required>
      <button type="submit" class="btn btn-success mt-2">Login</button>
    </form>
    <p *ngIf="errorMessage">{{ errorMessage }}</p>
  </div>
    -->
  

   <!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label>Email:</label>
      <input type="email" formControlName="email" required />
    </div>
    <div>
      <label>Password:</label>
      <input type="password" formControlName="password" required />
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
  </form> -->


  <div class="w-screen h-screen font-mono text-2xl bg-black text-white p-8 text-center border-opacity-50 backdrop-blur-sm">
    <div class="border rounded border-cyan-400 justify-center inline-block hover:shadow-[0_0_100px_#5C6BC0,inset_0_0_5px_#5C6BC0,0_0_50px_#26C6DA,0_0_250px_#26C6DA,0_0_200px_#26C6DA] delay-100 duration-1000">
    <h2 class="">Login</h2>
    <hr>
    <br>
    
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="input-field">
          <label for="email">Email</label>
          <br>
            <input class="text-black" type="email" id="email" formControlName="email" required>
            
        </div>
        <div class="input-field">
          <label for="password">Password</label>
          <br>
            <input class="text-black" type="password" id="password" formControlName="password" required>
            
        </div>
        <div class="forget">
            <label for="remember">
                <p class="text-sm">Remember Me</p>
                <input type="checkbox" id="remember">
                
            </label>
            
        </div>
        <button class="border border-white" type="submit" [disabled]="loginForm.invalid">Login</button>
        <br>
        <hr>
        <div class="register">
            <p class="text-sm">Don't have an account 😑? <a href="/register">Register here</a></p>
        </div>
    </form>
  </div>
</div>


